.navigation__link{
	display: block;
	text-align: right;
	padding: 9px 0;
	padding-right: 30px;
	text-decoration: none;
	color: #414141;
	font-weight: 400;
	line-height: 24px;
				
	&:hover{
		color: #33c1e3;
	}
}

.navigation__link-icon{
	display: inline-block;
	vertical-align: middle;
}

.navigation__link-text{
	display: inline-block;
	vertical-align: middle;
	margin-left: 3px;
}

.navigation__link_active{
	color: #32c3e5;
	font-weight: 600;
	padding-right: 25px;
	border-right: 6px solid #33c1e3;
}